.application {
  padding: 85px 0;
  background-color: var(--accent-color);
  background-image: url(../../img/percent.svg);
  background-position: bottom;
  background-repeat: no-repeat;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 60px;
  }

  &__block--left {
    grid-column-start: 2;
    grid-column-end: 7;
    padding-top: 20px;
  }

  &__block--right {
    grid-column: span 5;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 36px;
    line-height: 130%;
    color: var(--light-color);
  }

  &__descr {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: var(--light-color);
  }
}
