.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 54px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: var(--light-color);
  border-radius: 5px;
  background-color: var(--accent-color);

  &--dark {
    background-color: var(--dark-color);
  }
}
