.hero {
  background: var(--dark-color);

  @include small-tablet {
    padding-bottom: 80px;
  }

  &__container {
    @include flex-v-center;

    padding-top: 163px;
  }

  &__content {
    max-width: 516px;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 70px;
    line-height: 160%;
    text-transform: uppercase;
    color: var(--light-color);
    word-wrap: nowrap;

    @include desktop {
      font-size: 65px;
    }

    @include tablet {
      font-size: 60px;
    }

    @include tablet {
      font-size: 45px;
    }

    @include mobile {
      font-size: 30px;
    }

    &-text {
      max-width: 90%;
      margin-bottom: 50px;
      display: block;
      font-weight: 400;
      font-size: 20px;
      line-height: 160%;
      color: var(--light-color);

      @include mobile {
        text-align: center;
      }
    }
  }

  &__btn {
    max-width: 260px;

    @include tablet {
      padding: 20px 47px;
    }
  }

  &__image {
    transform: translateX(150px);

    @include small-tablet {
      display: none;
    }
  }
}
