.tariffs {
  padding-top: 35px;
  padding-bottom: 120px;

  @include tablet {
    padding-bottom: 80px;
  }

  @include mobile {
    padding: 40px 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 40px;

    @include tablet {
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 40px;
      grid-column-gap: 0px;
    }

    @include small-tablet {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__item {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border: 1px solid rgba(20, 16, 36, 0.2);
    border-radius: 20px;

    @include desktop {
      padding: 35px;
    }

    @include tablet {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    @include small-tablet {
      grid-column-start: 2;
      grid-column-end: 6;
    }

    @include mobile {
      grid-column-start: 1;
      grid-column-end: 7;
    }

    &--main {
      align-self: center;
      height: calc(100% + 40px);
      background: var(--dark-color);

      & .tariffs__subtitle {
        color: var(--light-color);
      }

      & .tariffs__price {
        color: var(--light-color);
      }

      & .tariffs__descr {
        color: var(--light-color);
      }

      @include tablet {
        height: 100%;
      }
    }
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 60px;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 30px;
    line-height: 160%;
    text-align: center;
    color: var(--dark-color);

    @include desktop {
      font-size: 25px;
    }

    @include tablet {
      margin-bottom: 50px;
    }

    &:before {
      content: '';
      margin-right: 10px;
      width: 20px;
      height: 5px;
      background-color: currentColor;
    }

    &:after {
      content: '';
      margin-left: 10px;
      width: 20px;
      height: 5px;
      background-color: currentColor;
    }
  }

  &__price {
    margin-bottom: 20px;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 50px;
    line-height: 160%;
    text-align: center;
    color: var(--dark-color);

    @include desktop {
      font-size: 45px;
    }
  }

  &__descr {
    align-self: center;
    margin: 0;
    margin-bottom: auto;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: var(--dark-color);
  }

  &__btn {
    margin-top: 60px;
    min-width: 100%;

    @include desktop {
      padding: 20px 47px;

    }

    @include tablet {
      margin-top: 45px;
    }


    @include small-tablet {
      margin-top: 30px;
    }
  }
}
