:root {
  --font-family: "Jost", "Lato";
  --content-width: 1160px;
  --content-fluid-width: 1720px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --accent-color: #D52027;
  --dark-color: #141024;
  --text-color: rgba(20, 16, 36, 0.7);
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Jost";
  src: url("../fonts/JostRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/JostSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/JostBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 26px 54px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: var(--light-color);
  border-radius: 5px;
  background-color: var(--accent-color);
}
.btn--dark {
  background-color: var(--dark-color);
}

.tooltip__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 6px 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(20, 16, 36, 0.08);
}
.tooltip__btn:focus + .tooltip__txt {
  visibility: visible;
  opacity: 1;
}
@media (any-hover: hover) {
  .tooltip__btn:hover + .tooltip__txt {
    visibility: visible;
    opacity: 1;
  }
}
.tooltip__svg {
  width: 100%;
  height: 100%;
}
.tooltip__txt {
  padding: 15px 20px;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--dark-color);
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 8px rgba(20, 16, 36, 0.1);
  box-shadow: 0px 2px 8px rgba(20, 16, 36, 0.1);
  background-color: var(--light-color);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -o-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.section-title {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: "Jost";
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  color: var(--dark-color);
}
@media (max-width: 1024px) {
  .section-title {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .section-title {
    font-size: 30px;
  }
}

.burger {
  display: none;
  width: 44px;
  height: 44px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
}
@media (max-width: 1024px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.burger__line {
  width: 20px;
  height: 2px;
  border-radius: 14px;
  background-color: #fff;
}
.burger__line:not(:last-child) {
  margin-bottom: 3px;
}
.burger__line:last-child {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 10px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.logo img {
  margin-top: 3px;
}
@media (max-width: 576px) {
  .logo img {
    max-width: 80%;
  }
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .header__container {
    -webkit-box-pack: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
  }
}
@media (max-width: 1024px) {
  .header__phone {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
.nav__link {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: var(--light-color);
}
@media (max-width: 1024px) {
  .nav {
    display: none;
  }
}

.phone {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  text-align: right;
  color: var(--light-color);
}
.phone--btn {
  display: none;
  width: 44px;
  height: 44px;
  padding: 12px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.08);
  background-image: url("../../img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}
@media (max-width: 1024px) {
  .phone--btn {
    display: inline-block;
    margin-left: auto;
    margin-right: 10px;
  }
}

.hero {
  background: var(--dark-color);
}
@media (max-width: 768px) {
  .hero {
    padding-bottom: 80px;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 163px;
}
.hero__content {
  max-width: 516px;
}
@media (max-width: 576px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.hero__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 70px;
  line-height: 160%;
  text-transform: uppercase;
  color: var(--light-color);
  word-wrap: nowrap;
}
@media (max-width: 1200px) {
  .hero__title {
    font-size: 65px;
  }
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 60px;
  }
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 30px;
  }
}
.hero__title-text {
  max-width: 90%;
  margin-bottom: 50px;
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--light-color);
}
@media (max-width: 576px) {
  .hero__title-text {
    text-align: center;
  }
}
.hero__btn {
  max-width: 260px;
}
@media (max-width: 1024px) {
  .hero__btn {
    padding: 20px 47px;
  }
}
.hero__image {
  -webkit-transform: translateX(150px);
  -ms-transform: translateX(150px);
  transform: translateX(150px);
}
@media (max-width: 768px) {
  .hero__image {
    display: none;
  }
}

.about {
  padding: 120px 0;
  background-color: var(--light-color);
}
@media (max-width: 1024px) {
  .about {
    padding: 80px 0;
  }
}
@media (max-width: 576px) {
  .about {
    padding: 40px 0;
  }
}
.about__descr {
  margin-bottom: 50px;
  max-width: 891px;
  font-family: "Jost";
  font-weight: 400;
  font-size: 30px;
  line-height: 160%;
  color: var(--dark-color);
}
.about__descr-highlight {
  font-family: "Jost";
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  color: var(--dark-color);
}
@media (max-width: 576px) {
  .about__descr-highlight {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .about__descr {
    max-width: initial;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .about__descr {
    font-size: 20px;
  }
}
.about__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 40px;
}
@media (max-width: 1200px) {
  .about__list {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }
}
@media (max-width: 576px) {
  .about__list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}
.about__item {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
@media (max-width: 1200px) {
  .about__item {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .about__item {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
}
.about__digit {
  font-family: "Jost";
  font-weight: 600;
  font-size: 70px;
  line-height: 160%;
  color: var(--accent-color);
}
@media (max-width: 768px) {
  .about__digit {
    font-size: 55px;
  }
}
.about__text {
  margin: 0;
  font-family: "Jost";
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .about__text {
    font-size: 16px;
  }
}

.benefits {
  padding: 100px 0;
  background-color: #F9F9F9;
}
@media (max-width: 1024px) {
  .benefits {
    padding: 80px 0;
  }
}
@media (max-width: 576px) {
  .benefits {
    padding: 40px 0;
  }
}
.benefits__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 40px;
}
@media (max-width: 768px) {
  .benefits__list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
.benefits__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
.benefits__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 20px;
  gap: 10px;
}
@media (max-width: 576px) {
  .benefits__subtitle {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.benefits__descr {
  margin: 0;
}
@media (max-width: 576px) {
  .benefits__descr {
    text-align: center;
  }
}

.trainers {
  padding: 100px 0;
}
@media (max-width: 1024px) {
  .trainers {
    padding: 70px 0;
  }
}
@media (max-width: 576px) {
  .trainers {
    padding: 40px 0;
  }
}
.trainers__wrapper {
  padding-left: max(15px, (100% - var(--content-width)) / 2);
}
.trainers__swiper-wrapper {
  margin-bottom: 75px;
}
@media (max-width: 768px) {
  .trainers__swiper-wrapper {
    margin-bottom: 50px;
  }
}
.trainers__swiper-slide {
  max-width: 360px;
}
@media (max-width: 768px) {
  .trainers__swiper-slide {
    max-width: 300px;
  }
}
@media (max-width: 576px) {
  .trainers__swiper-slide {
    max-width: 220px;
  }
}
.trainers__image {
  margin-bottom: 20px;
  max-height: 500px;
  border-radius: 20px;
}
.trainers__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Jost";
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: var(--dark-color);
}
.trainers__descr {
  margin-bottom: 20px;
  display: block;
  font-family: "Jost";
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}
.trainers__btn-more {
  color: var(--accent-color);
}
.trainers__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.trainers__scrollbar {
  height: 5px;
  width: 360px;
}
.trainers__drag {
  background-color: var(--dark-color);
}
.trainers__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .trainers__btns {
    display: none;
  }
}
.trainers__btn {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.trainers__btn--prev {
  margin-right: 10px;
  background-image: url("../../img/left-btn.svg");
}
.trainers__btn--next {
  background-image: url("../../img/right-btn.svg");
}

.tariffs {
  padding-top: 35px;
  padding-bottom: 120px;
}
@media (max-width: 1024px) {
  .tariffs {
    padding-bottom: 80px;
  }
}
@media (max-width: 576px) {
  .tariffs {
    padding: 40px 0;
  }
}
.tariffs__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 40px;
}
@media (max-width: 1024px) {
  .tariffs__list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 0px;
  }
}
@media (max-width: 768px) {
  .tariffs__list {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
}
.tariffs__item {
  -ms-grid-column-span: 4;
  grid-column: span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40px;
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .tariffs__item {
    padding: 35px;
  }
}
@media (max-width: 1024px) {
  .tariffs__item {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
  }
}
@media (max-width: 768px) {
  .tariffs__item {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 4;
    grid-column-end: 6;
  }
}
@media (max-width: 576px) {
  .tariffs__item {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
  }
}
.tariffs__item--main {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  height: calc(100% + 40px);
  background: var(--dark-color);
}
.tariffs__item--main .tariffs__subtitle {
  color: var(--light-color);
}
.tariffs__item--main .tariffs__price {
  color: var(--light-color);
}
.tariffs__item--main .tariffs__descr {
  color: var(--light-color);
}
@media (max-width: 1024px) {
  .tariffs__item--main {
    height: 100%;
  }
}
.tariffs__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-bottom: 60px;
  font-family: "Jost";
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  text-align: center;
  color: var(--dark-color);
}
@media (max-width: 1200px) {
  .tariffs__subtitle {
    font-size: 25px;
  }
}
@media (max-width: 1024px) {
  .tariffs__subtitle {
    margin-bottom: 50px;
  }
}
.tariffs__subtitle:before {
  content: "";
  margin-right: 10px;
  width: 20px;
  height: 5px;
  background-color: currentColor;
}
.tariffs__subtitle:after {
  content: "";
  margin-left: 10px;
  width: 20px;
  height: 5px;
  background-color: currentColor;
}
.tariffs__price {
  margin-bottom: 20px;
  font-family: "Jost";
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  text-align: center;
  color: var(--dark-color);
}
@media (max-width: 1200px) {
  .tariffs__price {
    font-size: 45px;
  }
}
.tariffs__descr {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0;
  margin-bottom: auto;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: var(--dark-color);
}
.tariffs__btn {
  margin-top: 60px;
  min-width: 100%;
}
@media (max-width: 1200px) {
  .tariffs__btn {
    padding: 20px 47px;
  }
}
@media (max-width: 1024px) {
  .tariffs__btn {
    margin-top: 45px;
  }
}
@media (max-width: 768px) {
  .tariffs__btn {
    margin-top: 30px;
  }
}

.application {
  padding: 85px 0;
  background-color: var(--accent-color);
  background-image: url(../../img/percent.svg);
  background-position: bottom;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .application {
    padding: 80px 0;
  }
}
@media (max-width: 576px) {
  .application {
    padding: 40px 0;
  }
}
.application__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 60px;
}
@media (max-width: 1024px) {
  .application__container {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
  }
}
.application__block--left {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 5;
  grid-column-end: 7;
  padding-top: 20px;
}
@media (max-width: 1024px) {
  .application__block--left {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 4;
    grid-column-end: 6;
    padding-top: 0;
  }
}
@media (max-width: 576px) {
  .application__block--left {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
  }
}
.application__block--right {
  -ms-grid-column-span: 5;
  grid-column: span 5;
}
@media (max-width: 1024px) {
  .application__block--right {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 4;
    grid-column-end: 6;
  }
}
@media (max-width: 576px) {
  .application__block--right {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 6;
    grid-column-end: 7;
  }
}
.application__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Jost";
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  color: var(--light-color);
}
@media (max-width: 576px) {
  .application__title {
    font-size: 30px;
  }
}
.application__descr {
  font-family: "Jost";
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: var(--light-color);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  gap: 2px;
  width: 100%;
}
.form__input {
  margin-bottom: 10px;
  padding: 20px 19px;
  width: 100%;
  font-family: "Jost";
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--dark-color);
  border: none;
  border-radius: 5px;
  background: #F6F6F6;
}
.form__input::-webkit-input-placeholder {
  color: rgba(40, 41, 68, 0.7);
}
.form__input::-moz-placeholder {
  color: rgba(40, 41, 68, 0.7);
}
.form__input:-ms-input-placeholder {
  color: rgba(40, 41, 68, 0.7);
}
.form__input::-ms-input-placeholder {
  color: rgba(40, 41, 68, 0.7);
}
.form__input::placeholder {
  color: rgba(40, 41, 68, 0.7);
}
.form__input:focus {
  outline: none;
}
.form__btn {
  max-height: 64px;
}

.just-validate-error-label {
  color: var(--light-color) !important;
}

.footer {
  padding: 40px 0px 45px;
  background-color: var(--dark-color);
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer__logo {
  margin-bottom: 5px;
}
.footer__copy {
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 768px) {
  .footer__copy {
    text-align: center;
    margin-bottom: 5px;
  }
}
/*# sourceMappingURL=main.css.map */