:root {
  --font-family: "Jost", "Lato";
  --content-width: 1160px;
  --content-fluid-width: 1720px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --accent-color: #D52027;
  --dark-color: #141024;
  --text-color: rgba(20, 16, 36, 0.7);
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Jost";
  src: url("../fonts/JostRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/JostSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("../fonts/JostBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 26px 54px;
  max-width: 260px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: var(--light-color);
  border-radius: 5px;
  background-color: var(--accent-color);
}

.tooltip__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 6px 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(20, 16, 36, 0.08);
}
.tooltip__btn:focus + .tooltip__txt {
  visibility: visible;
  opacity: 1;
}
@media (any-hover: hover) {
  .tooltip__btn:hover + .tooltip__txt {
    visibility: visible;
    opacity: 1;
  }
}
.tooltip__svg {
  width: 100%;
  height: 100%;
}
.tooltip__txt {
  padding: 15px 20px;
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: var(--dark-color);
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 8px rgba(20, 16, 36, 0.1);
  box-shadow: 0px 2px 8px rgba(20, 16, 36, 0.1);
  background-color: var(--light-color);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -o-transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.section-title {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: "Jost";
  font-weight: 600;
  font-size: 50px;
  line-height: 160%;
  color: var(--dark-color);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin-right: 40px;
}
.nav__link {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: var(--light-color);
}

.phone {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  text-align: right;
  color: var(--light-color);
}

.hero {
  min-height: 750px;
  background: var(--dark-color);
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__content {
  max-width: 516px;
}
.hero__title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 344px;
  font-weight: 600;
  font-size: 70px;
  line-height: 160%;
  text-transform: uppercase;
  color: var(--light-color);
}
.hero__title-text {
  max-width: 90%;
  margin-bottom: 50px;
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--light-color);
}

.about {
  padding: 120px 0;
  background-color: var(--light-color);
}
.about__descr {
  margin-bottom: 50px;
  max-width: 891px;
  font-family: "Jost";
  font-weight: 400;
  font-size: 30px;
  line-height: 160%;
  color: var(--dark-color);
}
.about__descr-highlight {
  font-family: "Jost";
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  color: var(--dark-color);
}
.about__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 40px;
}
.about__item {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
.about__digit {
  font-family: "Jost";
  font-weight: 600;
  font-size: 70px;
  line-height: 160%;
  color: var(--accent-color);
}
.about__text {
  margin: 0;
  font-family: "Jost";
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}

.benefits {
  padding: 100px 0;
  background-color: #F9F9F9;
}
.benefits__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 40px;
}
.benefits__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
.benefits__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 20px;
  gap: 10px;
}
.benefits__descr {
  margin: 0;
}

.trainers {
  padding: 100px 0;
}
.trainers__wrapper {
  padding-left: max(15px, (100% - var(--content-width)) / 2);
}
.trainers__swiper-wrapper {
  margin-bottom: 75px;
}
.trainers__swiper-slide {
  max-width: 360px;
}
.trainers__image {
  margin-bottom: 20px;
  max-height: 500px;
  border-radius: 20px;
}
.trainers__subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Jost";
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: var(--dark-color);
}
.trainers__descr {
  margin-bottom: 20px;
  display: block;
  font-family: "Jost";
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--text-color);
}
.trainers__btn-more {
  color: var(--accent-color);
}
.trainers__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.trainers__scrollbar {
  height: 5px;
  width: 360px;
}
.trainers__drag {
  background-color: var(--dark-color);
}
.trainers__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.trainers__btn {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.trainers__btn--prev {
  margin-right: 10px;
  background-image: url("../../img/left-btn.svg");
}
.trainers__btn--next {
  background-image: url("../../img/right-btn.svg");
}
/*# sourceMappingURL=main.css.map */