<section class="application">
  <div class="container application__container">
    <div class="application__block--left">
      <h2 class="application__title">Запишитесь на курс со скидкой 10%</h2>
      <p class="application__descr">Акция действительна до 10 марта 2022 года</p>
    </div>
    <div class="application__block--right">
      <form action="" class="form">
        <label for="name">
          <input type="text" name="name" placeholder="Имя" class="form__input">
        </label>
        <label for="tel">
          <input type="tel" name="tel" placeholder="Телефон" class="form__input">
        </label>
        <label for="email">
          <input type="email" name="email" placeholder="E-mail" class="form__input">
        </label>
        <button class="btn-reset btn btn--dark form__btn">Оформить заявку</button>
      </form>
    </div>
  </div>
</section>
