<header class="header">
  <div class="container-fluid header__container">
    <div class="logo">
      <img loading="lazy" src="../img/logo.svg" class="image" width="228" height="48" alt="Логотип RoboSchool">
    </div>
    <nav class="nav" title="Главное меню">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a data-scroll href="#about" class="nav__link">О школе</a></li>
        <li class="nav__item"><a data-scroll href="#trainers" class="nav__link">Тренеры</a></li>
        <li class="nav__item"><a data-scroll href="#tariffs" class="nav__link">Стоимость</a></li>
      </ul>
    </nav>
    <a href="+78000001122" class="phone header__phone">+7 800 000 11 22</a>
    <a href="+78000001122" class="phone--btn"></a>
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
