<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title">Robo school</h1>
      <span class="hero__title-text">Курсы повышения квалификации по робототехнике для педагогов начальной школы</span>
      <a href="#" class="btn btn-reset hero__btn">Записаться на курс</a>
    </div>
    <picture class="hero__image">
      <source srcset="../img/girl.avif" type="image/avif">
      <source srcset="../img/girl.webp" type="image/webp">
      <img loading="lazy" src="../img/girl.png" class="image" width="783" height="917" alt="Девушка, которая смотрит вдаль">
    </picture>
  </div>
</section>
