<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="trainer-modal">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <section class="modal">
        <div class="modal__top">
          <picture class="modal__img">
            <source srcset="../img/trainer-1.avif" type="image/avif">
            <source srcset="../img/trainer-1.webp" type="image/webp">
            <img loading="lazy" src="../img/trainer-1.jpg" class="image" width="160" height="222" alt="Марина Орлова">
          </picture>
          <div class="modal__info">
            <h3 class="modal__title">Марина Орлова</h3>
            <p class="modal__descr">преподаватель по робототехнике</p>
            <div class="modal__social">
              <svg class="modal__social-svg">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
              <svg class="modal__social-svg">
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="tabs" data-tabs="tab">
          <ul class="list-reset tabs__nav">
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Образование</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Опыт работы</button></li>
            <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Награды</button></li>
          </ul>
          <div class="tabs__border"></div>
          <div class="tabs__content">
            <div class="tabs__panel" data-simplebar>
                <div class="tabs__info-block">
                  <p class="tabs__personal-info">Сентябрь 1995 — Июнь 2000</p>
                  <p class="tabs__personal-info">Санкт-Петербургский политехнический университет Петра Великого</p>
                  <p class="tabs__personal-info">Факультет: Компьютерных наук и технологий</p>
                  <p class="tabs__personal-info">Специальность: Математика и компьютерные науки</p>
                  <p class="tabs__personal-info">Форма обучения: Очная</p>
                </div>
                <div class="tabs__info-block">
                  <h4 class="tabs__subtitle">Курсы и тренинги</h4>
                  <p class="tabs__personal-info">Ноябрь 2020 — Февраль 2021</p>
                  <p class="tabs__personal-info">Программа дополнительного образования «3D Моделирование»</p>
                  <p class="tabs__personal-info">Место проведения: Институт дополнительного образования «Политех»</p>
                </div>
            </div>
            <div class="tabs__panel" data-simplebar>
              <p class="tabs__personal-info">Сентябрь 1995 — Июнь 2000</p>
              <p class="tabs__personal-info">Сентябрь 1995 — Июнь 2000</p>
              <p class="tabs__personal-info">Санкт-Петербургский политехнический университет Петра Великого</p>
              <p class="tabs__personal-info">Факультет: Компьютерных наук и технологий</p>
              <p class="tabs__personal-info">Специальность: Математика и компьютерные науки</p>
              <p class="tabs__personal-info">Форма обучения: Очная</p>
              <p class="tabs__personal-info">Санкт-Петербургский политехнический университет Петра Великого</p>
              <p class="tabs__personal-info">Факультет: Компьютерных наук и технологий</p>
              <p class="tabs__personal-info">Факультет: Компьютерных наук и технологий</p>
              <p class="tabs__personal-info">Специальность: Математика и компьютерные науки</p>
              <p class="tabs__personal-info">Форма обучения: Очная</p>
              <p class="tabs__personal-info">Санкт-Петербургский политехнический университет Петра Великого</p>
              <p class="tabs__personal-info">Факультет: Компьютерных наук и технологий</p>
              <p class="tabs__personal-info">Факультет: Компьютерных наук и технологий</p>
              <p class="tabs__personal-info">Специальность: Математика и компьютерные науки</p>
              <p class="tabs__personal-info">Форма обучения: Очная</p>
              <p class="tabs__personal-info">Санкт-Петербургский политехнический университет Петра Великого</p>
              <p class="tabs__personal-info">Факультет: Компьютерных наук и технологий</p>
            </div>
            <div class="tabs__panel" data-simplebar>
              <h4 class="tabs__subtitle">Курсы и тренинги</h4>
              <p class="tabs__personal-info">Сентябрь 1995 — Июнь 2000</p>
              <p class="tabs__personal-info">Санкт-Петербургский политехнический университет Петра Великого</p>
              <p class="tabs__personal-info">Факультет: Компьютерных наук и технологий</p>
              <p class="tabs__personal-info">Специальность: Математика и компьютерные науки</p>
              <p class="tabs__personal-info">Форма обучения: Очная</p><p class="tabs__personal-info">Сентябрь 1995 — Июнь 2000</p>
              <p class="tabs__personal-info">Санкт-Петербургский политехнический университет Петра Великого</p>
              <p class="tabs__personal-info">Факультет: Компьютерных наук и технологий</p>
              <p class="tabs__personal-info">Специальность: Математика и компьютерные науки</p>
              <p class="tabs__personal-info">Форма обучения: Очная</p>
              <p class="tabs__personal-info">Ноябрь 2020 — Февраль 2021</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
